* {
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  color: blue;
  text-align: center;
  text-decoration: underline;
}
em,
q {
  text-decoration: underline;
  color: blue;
}
.special {
  text-decoration: solid;
}
li b {
  color: darkblue;
}
h2 {
  text-overflow: ellipsis;
}
